<div>
  <div id="player">
    <video #videoRef id="video" src={{repo?.currentVideo?.url}}>
      <track label="Español" kind="subtitles" srclang="es" src="../../assets/video/spanish.vtt" default *ngIf="repo?.currentVideo?.videoId == 5">
      <track label="English" kind="subtitles" srclang="es" src="../../assets/video/english.vtt" *ngIf="repo?.currentVideo?.videoId == 5">
    </video>

    <div id="positionview">
      <div id="transportbar" (click)="changePosition($event)">
        <div id="position" [ngStyle]="{ 'width': progressWidth }"></div>
      </div>
      <div id="time">
        <span>{{currentTime}}</span> / <span id="duration">{{duration}}</span>
      </div>
    </div>

    <div id="controls" *ngIf="repo.videos.length > 0; else nodata">
      <button (click)="togglePlay()">
        <img src={{togglePlayUrl}} alt="{{togglePlayState}}" title="{{togglePlayState}}" />
      </button>
      <button (click)="stop()">
        <img src="../../assets/img/stop.png" alt="Stop" title="Stop" /></button>
      <button (click)="back()">
        <img src="../../assets/img/back.png" alt="Back" title="Back" />
      </button>
      <button (click)="forward()">
        <img src="../../assets/img/forward.png" alt="Forward" title="Forward" />
      </button>
      <button (click)="turnDown()" [disabled]="isNotPossibleToTurnDown()">
        <img src="../../assets/img/lower.png" alt="Turn down" title="Turn down" />
      </button>
      <button (click)="turnUp()" [disabled]="isNotPossibleToTurnUp()">
        <img src="../../assets/img/higher.png" alt="Turn up" title="Turn up" />
      </button>
      <button (click)="toggleMute()">
        <img src="{{toggleMuteUrl}}" alt="{{toggleMuteState}}" title="{{toggleMuteState}}" />
      </button>
      <button id="subtitles" data-state="subtitles">
        <img src="../../assets/img/cc.png" alt="Subtitles" title="Subtitles" />
      </button>
    </div>        
  </div>

  <div id="volumecontrol">
    <div id="volumebar">
      <div id="volume" [ngStyle]="{ 'height': volumeHeight, 'marginTop': volumeMarginTop }"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../../assets/scripts/subtitles.js"></script>

<ng-template #nodata>
  <h3>Waiting for a video to be processed</h3>
</ng-template>